header
{
    height: 41px;
    width: 825px;
    left: 307px;
    top: 50px;
    border-radius: 0px;
    padding: 0px 30px 0px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 30px;
    gap: 49px;
    
    position: absolute;
    width: 825px;
    height: 41px;
    left: 307px;
    top: 50px;    
}

header .mnu_top{
    list-style-type: none;
}
/*
header .mnu_top li{
    display: inline-block;
    margin-right: 49px;
}
*/
 
title {
    word-spacing: 49px;
}

header .mnu_top li a{
    display: block;
    text-decoration: none;
    color: #194157;
    font-size: 16px;
    font-weight: 400;
    -webkit-transition:color .4s ease;
    -o-transition:color .4s ease;
    transition:color .4s ease;
    line-height: 2.4;
    
}



.locacion {
    position: absolute;
    left: 30px;
    top: 15.5px;
}

.gal1{
    position: absolute;
    left: 159px;
    top: 24.19px;
    color: #194157
}

.oproecte{
    position: absolute;
    left: 209.01px;
    top: 15.02px;
}

.bold{
    position: absolute;
    left: 348.12px;
    top: 15.01px;
}

.fotost {
    position: absolute;
    left: 512px;
    top: 15.02px;
}

.gal2{
    position: absolute;
    left: 679.26px;
    top: 24.19px;
    color: #194157
}

.stati{
    position: absolute;
    left: 729.4px;
    top: 15.02px;
}

span.bold {
    font-weight: 700;
}

header .mnu_top li a:hover {
    color:red;
}


.articles-txt { 
	color:rgba(25.411459431052208, 65.08444279432297, 87.12500050663948, 1);
	width:289.745849609375px;
	height:81.29287719726562px;
	position:absolute;
	left: 150px;
	top:161px;
	font-family:NEXT ART;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}

.watch-top{
    color:rgba(25.411459431052208, 65.08444279432297, 87.12500050663948, 1);
	width:auto;
	/*height:81.29287719726562px;*/
	position:absolute;
	left: 150px;
	top: 218px;
	font-family:NEXT ART;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}


/*Подчеркивание текста заголовка статьи*/

.txt-parent {
    margin: 221px auto 0 auto;
    width: 625px;
    height: 52px;
  }
  
  .txt-child {
    margin: 221px 0;
  }
  
  
  
  .txt-parent a {
      display: inline-block;
      color: #194157; /* Цвет обычной ссылки */
      line-height: 1;
      text-decoration: none; /* Убираем подчеркивание */
      cursor: pointer;
      font-family: NEXT ART;
      position: absolute;
      font-size: 24px;
  }
  .txt-parent a:after {
      background-color: #b933ee; /* Цвет линии при наведении на нее курсора мыши */
      display: block;
      content: "";
      height: 2px; /* Высота линии */
      width: 0%;
      -webkit-transition: width .3s ease-in-out;
      -moz--transition: width .3s ease-in-out;
      transition: width .3s ease-in-out;
  }
  .txt-parent a:hover:after,
  .txt-parent a:focus:after {
      width: 100%;
  }
  
  .txt-pos{
    position: absolute;
    top: 100px;
    left: 577px;
  }
  


.foto-parent {
    margin: 23px auto 0 auto;
    
}
  
.foto-child {
    margin: 23px 0;
    background-size: contain;
  }
  
.foto-pos{
    position:absolute;
    left: 157px;
    top: 291px;
  }

.foto-settings{
    max-width: 359px;
    max-height: 250px;
}






/*Footer*/

.footer{ 
    position: absolute;
    width: 100%;
    height: 368px;
    left: 0px;
    top: 1888px;
    list-style-type: none;
    background: #856BC7;
   }
   
   footer.footer li a:hover {
       color:red;
    transition:color .4s ease;
   }
   
   
   .tabl{ 
    width:429.8571472167969px;
    height:185px;
    position:absolute;
    left:536px;
    top:48px;
   }
   .loc2 { 
    color:rgba(255, 255, 255, 1);
    width:80px;
    height:24px;
    position:absolute;
    left:1px;
    top:44px;
    font-family: NEXT ART;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    text-decoration: none
    
   }
   .tecst { 
    color:rgba(255, 255, 255, 1);
    width:92px;
    height:12px;
    position:absolute;
    left:301px;
    top:50px;
    font-family: NEXT ART;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    
   }
   .fotostu { 
    color:rgba(255, 255, 255, 1);
    width:113px;
    height:24px;
    position:absolute;
    left:1px;
    top:83px;
    font-family:NEXT ART;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
    text-decoration: none
   }
   .staty { 
    color:rgba(255, 255, 255, 1);
    width:62px;
    height:24px;
    position:absolute;
    left:1px;
    top:122px;
    font-family:NEXT ART;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
    text-decoration: none
   }
   .opr { 
    color:rgba(255, 255, 255, 1);
    width:93px;
    height:24px;
    position:absolute;
    left:1px;
    top:161px;
    font-family:NEXT ART;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
    text-decoration: none
   }
   .navi { 
    color:rgba(255, 255, 255, 1);
    width:158.85714721679688px;
    height:24px;
    position:absolute;
    left:0px;
    top:0px;
    font-family:NEXT ART;
    text-align:left;
    font-size:20px;
    letter-spacing:0;
    line-height:px;
   }
   .svyaz { 
    color:rgba(255, 255, 255, 1);
    width:158.85714721679688px;
    height:24px;
    position:absolute;
    left:271px;
    top:0px;
    font-family:NEXT ART;
    text-align:left;
    font-size:20px;
    letter-spacing:0;
    line-height:px;
   }
   .mail { 
    color:rgba(255, 255, 255, 1);
    width:219px;
    height:28px;
    position:absolute;
    left:837px;
    top:127px;
    font-family:NEXT ART;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
    line-height:px;
   }
   .telef { 
    color:rgba(255, 255, 255, 1);
    width:180px;
    height:28px;
    position:absolute;
    left:837px;
    top:167px;
    font-family:NEXT ART;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
    line-height:px;
   }
   
   
   
   .softfoc { 
    color:rgba(255, 255, 255, 1);
    width:115px;
    height:24px;
    position:absolute;
    left:228px;
    top:52px;
    font-family: NEXT ART;
    letter-spacing: 0px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    line-height: 27.2px;
    
   }
   